.ipynb_checkpoints/

Detection_Images/

Tensorflow/models/*
Tensorflow/
detection_results.csv

templates/TEST.mp4

RnD.py

webpage/Temp/

RnD.ipynb


*.png

codes.md

video_smaple_1.mp4

Test_datas/

__pycache__/

TEST.mp4

instance/

Temp/

static/uploads/

static/detected_plates

hsrp.ipynb

HSRP_prediction_160_model.h5

HSRP_prediction_400_model.h5