.ipynb_checkpoints/
__pycache__/

Tensorflow/models/
Tensorflow/models/*
Tensorflow/protoc/*
Tensorflow/workspace/annotations/*
Tensorflow/workspace/images/*
Tensorflow/workspace/pre-trained-models/*
Tensorflow/models

# Tensorflow/

RnD.py

RnD.ipynb

*.png

codes.md

instance/

static/uploads/

static/detected_plates

hsrp.ipynb

HSRP_prediction_400_model.h5