body{
    min-height: 100vh;
    height: 100vh;
}

.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar .logout-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .logout-section button{
    background-color: rgb(23, 210, 235);
    color: #050404;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-box{
    margin: 20px;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: violet; */
}
.search-box h2{
    font-size: 24px;
    margin-bottom: 15px;
}
#search-input{
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 300px;
    text-align: center;
}
 #search-button{
    background-color: rgb(23, 210, 235);
    color: #050404;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    cursor: pointer;
    margin-top: 10px;
} 

#search-button:hover{
    background-color: rgb(96, 216, 231);
}





.search-result-section{
    /* background-color: gray; */
    min-height: 500px;
    padding: 10px;
}

#plate-not-found{
    margin: 50px;
    padding: 10px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* display: none; */
}



/* #plate-not-found{
    display: none;
}
#plate-found{
    display: none;
} */


.video-result{
    display: none;
}

/* #plate-found .hsrp-result{
    margin: 10px;
    padding: 10px;

    display: flex;
    justify-content: center;
}
#plate-found .hsrp-result h2 span{
    display: none;
} */
#plate-found .video-result{
    padding: 40px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

#plate-found .plate-details {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    font-size: 30px;
}

/* #display-ontop{
    display: grid;
}

#display-none{
    display: none;
} */